@import url(left-menu.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);

.not_found {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 45%;
}

.code{
    font-size:4em;
}


@media screen and (max-width:740px){
    .not_found {
        left:unset;
    }
}