@import url(left-menu.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);


.person{
    position: relative;
    width: 250px;
    text-align: center;
    float:left;
}

.person h1{
    margin-bottom: 20px;
}

.avatar{
    height: 150px;
}

.users{
    position: relative;
    float:left;
    margin-left: 200px;
}

.names{
    height: 50vh;
    overflow: auto;
    position: relative;
    float: left;
    margin-left:150px; 
}

.names p{
    text-align: center;
    min-width: 200px;
    padding-top:20px;
    border-bottom: 1px solid black; 
    color:#36B871;
    font-weight: bold;
}

.names p:hover{
    color:black;
    cursor: pointer;
}




.buttons{
    position: absolute;
    bottom: 100px;
    left:45%;
}

.content button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top : 20px; 
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content [type="add"] {
    background-color: white; 
    color: black; 
    border: 2px solid #36b871;
}
.content [type="add"]:hover{
    background-color: #36b871;
    color: white;
}

.content [type="del"] {
    background-color: white; 
    color: black; 
    border: 2px solid #36b871;
}
.content [type="del"]:hover{
    background-color: #36b871;
    color: white;
}

.content{
    text-align: center;
    padding-left: 30vw;
}