* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

    a.logo{
    display: block;
    margin-bottom: 40px;
}
    img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

  
  #menu_col { 
    width: 220px; 
    height: 1300px;
    padding: 5px;
   }


  

  ul {
    list-style: none;
  }
  
  li {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: inherit;
  }
  
  .menu {
    padding: 20px;
    max-width: 250px;
    width: 100%;
    background: #393939;
	  top: 0;
	  left: 0;
  }
  
  .menu__item {
    padding: 5px 10px 5px 10px;
    font-size: 1.8rem;
    max-width: 250px;
    cursor: pointer;
    color: #999999;
  }
  
  .menu__item a {
    transition: padding-left 200ms ease-in-out;
  }
  
  .menu__item a:hover {
    transform: translate(30px);
    padding-left: 20px;
    color: #1e824c;
  }
  
  .menu__item:not(:last-child) {
    border-bottom: 1px solid #aaa;
  }
  
 
  
  
  p, label, input, textarea, [type="submit"], button {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, p {
    display: block;
    font-family: 'Open Sans';
  }

  h2 {
    display: inline-block;
    padding: 5px 20px;
    font-size: 3.6rem;
    color: #fff;
    background: #36b871;
  }
  
  button, [type="submit"] {
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .report {
    margin-top:50px;
  }
  

  .top_menu {
    position: absolute;
    min-height: 60px;
    min-width: 600px;
    width: 100%;
    background: #36b871;
    margin: 0;
    top:0;
    z-index: -150;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }
  
  .header__user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .header__user img {
    width: 100%;
  }

  .header a{
    color: white;
  }

  .name{
    margin-left: 225px;
  }
  .main{
    display: flex;
  }

    .content{
        margin-left:20px;
        margin-top:  10%;
        width: 100%;
    }

    .content .auth{
        width: 300px;
        text-align: center;
        
        /*border: 2px solid #36b871;*/

        margin: auto ;
        
        
    }
    
    
    .content img{
    
        padding: 200px 0 0 0;
        width: 560px;
    }
    
    .content .auth .auth_header:before{
        content: '';
        display: inline-block;
        background: #36b871;
        width: 100%;
        vertical-align: middle;
        
    }

    .content .auth .auth_header p {
        font-family: 'Open Sans';    
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        
    
}

     .content .auth .auth_header{
        text-align: center;
        height: 70px;
        background: #36b871;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
     
      
    
    .content .signIn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top : 20px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .content [type="signIn"] {
        background-color: white; 
        color: black; 
        border: 2px solid #36b871;
    }
    .content [type="signIn"]:hover{
        background-color: #36b871;
        color: white;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    [type=password]{
            resize:vertical;
          width: 100%;
          border: 0;
          padding: 10px 5px;
            background: white no-repeat;
            background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
          /* sizes for the 2 images (default state) */
          background-size: 0 2px, 100% 1px;
          /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
          background-position: 50% 100%, 50% 100%;
      
          /* animation solely on background-size */
            transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      
    }
   
    [type=password]:focus {
        background-size: 100% 2px, 100% 1px;
      outline: none;
    }
    
    [type=text]{
        resize:vertical;
          width: 100%;
          border: 0;
          padding: 10px 5px;
        background: white no-repeat;
        background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
          /* sizes for the 2 images (default state) */
          background-size: 0 2px, 100% 1px;
          /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
          background-position: 50% 100%, 50% 100%;
      
          /* animation solely on background-size */
        transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      
    }
   
    [type=text]:focus {
        background-size: 100% 2px, 100% 1px;
      outline: none;
    }
    
    .auth_input{
        margin: 10px 5px 0px 5px; 
    }
    input{
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }