@import url(left-menu.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);

  p, label, input, textarea, [type="submit"], button {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
  }

  
  button, [type="submit"] {
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  
    .main{
      display: flex;
    }

    .content{
        margin-left:0;
        padding: 0;
        margin-top:  10%;
        width: 100%;
        z-index: 0;
    }

    .content .auth{
        width: 300px;
        text-align: center;
        margin: auto ;
    }
    
    
    .content img{
    
        padding: 200px 0 0 0;
        width: 560px;
    }
    
    .content .auth .auth_header:before{
        content: '';
        display: inline-block;
        background: #36b871;
        width: 100%;
        vertical-align: middle;
        
    }

    .content .auth .auth_header p {
        font-family: 'Open Sans';    
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        
    
}

     .content .auth .auth_header{
        text-align: center;
        height: 70px;
        background: #36b871;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
     
      
    
    .content .signIn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top : 20px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .content [type="signIn"] {
        background-color: white; 
        color: black; 
        border: 2px solid #36b871;
    }
    .content [type="signIn"]:hover{
        background-color: #36b871;
        color: white;
    }

    
    input[type=password],input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    [type=password],[type=text]{
            resize:vertical;
          width: 100%;
          border: 0;
          padding: 10px 5px;
            background: white no-repeat;
            background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
          /* sizes for the 2 images (default state) */
          background-size: 0 2px, 100% 1px;
          /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
          background-position: 50% 100%, 50% 100%;
      
          /* animation solely on background-size */
            transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      
    }
   
    [type=password]:focus {
        background-size: 100% 2px, 100% 1px;
      outline: none;
    }
    
    
    [type=text]:focus {
        background-size: 100% 2px, 100% 1px;
      outline: none;
    }
    
    .auth_input{
        margin: 10px 5px 0px 5px; 
    }
    input{
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

 