@import url(left-menu.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);


.person{
    position: relative;
    text-align: center;
    float:left;
    margin-left: 10vw;
    margin-top: 5vh;
}



.avatar{
    height: 20vw;
}





.right_part{
    position: relative;
    float:left;
    margin-left: 5vw;
    margin-top: 10vh;
}

.right_part .name{
    text-align: left;
}

.right_part .name h1{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 15px;
    
}
.admin_view .text{
    float:left;
}

.admin_view .text p{
    font-size: 2.3em;
}

.admin_view .buttons{
    margin-left: 60px
}
.admin_view .admin_buttons{
    text-align: center
}

.admin_buttons li{ font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top : 20px; 
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.admin_buttons li {
    background-color: white; 
    color: black; 
    border: 2px solid #36b871;
}
.admin_buttons li:hover{
    background-color: #36b871;
    color: white;
}