.footer {
  background: #36b871;
  text-align: right;
  padding: 10px;
  padding-right: 30px;
  color:#fff;
}

body {
  display: flex;
  flex-direction: column;
}
.main {
    flex-grow: 1;
}

.footer p{
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}